.lead {
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.25rem;
  padding: 10px;
  margin-bottom: 8px;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.draggingLead {
  background-color: var(--blue);
  filter: brightness(0.9);
}

.dragDisabled {
  opacity: 0.75;
}