.container {
  margin: 8px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.title {
  padding: 8px;
}

.taskList {
  padding: 8px;
  transition: background-color 0.2s ease;
}

.taskHovering {
  background-color: skyblue;
}