.container {
  background-color: #0009;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.modal {
  background-color: #fff;
  padding: 10px;
  width: 40%;
  min-width: 400px;
  max-width: 475px;
  min-height: 80vh;
  padding: 50px 20px;
  display: flex;
  position: relative;
}

.modal svg {
  cursor: pointer;
  padding: 3px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.form {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .textField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form .textField input {
  border: 2px solid var(--black);
  font-size: 1.1rem;
  outline: none;
  padding: 10px;
}

.form .textField input:focus {
  border: 2px solid var(--blue);
}

.form button {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  min-width: 50%;
  padding: 20px 50px;
  margin-top: 10px;
}

.form button:hover {
  opacity: 0.9;
}

.form button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.form button:disabled:hover {
  opacity: 0.5;
}

.form input::placeholder {
  font-size: 0.9rem;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checkboxField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  background-color: var(--blue);
  color: var(--white);
  font-size: 0.85rem;
  text-align: center;
  width: 80%;
  padding: 10px;
}

.hr {
  width: clamp(25%, 300px, 75%);
}

@media screen and (max-height: 749px) and (min-width: 630px) {
  .hr {
    display: none;
  }

  .form {
    flex-direction: row;
    gap: 50px;
  }

  .modal {
    width: 75%;
    max-width: 100%;
    gap: 50px;
  }
}

@media screen and (max-height: 419px) {
  .modal {
    width: 100%;
    height: 100%;
    position: inherit;
    overflow: scroll;
  }
}

@media screen and (max-width: 629px) {
  .modal {
    width: 100%;
    min-width: 0;
    max-width: none;
    height: 100%;
    position: inherit;
    overflow: scroll;
  }  
}

@media screen and (max-width: 299px) {
  .modal {
    top: 0;
    right: 0;
  }
}